html {
    font-family: Helvetica;
}

.tickers {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: auto;
    justify-content: center;
}

.tickerWindow {
    min-width: 22%;
}

.tickerWindow img {
    margin: auto;
    display: block;
    height: 175px;
    width: auto;
    object-fit: cover;
}

.tickersQuant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
}

.tickersPrice {
    display: flex;
    justify-content: space-around;
    height: 35px;
}

footer {
    margin-top: 20px;
    background-color: maroon;
    color: white;
    text-align: center;
}

button {
    border: none;
}


@media only screen and (max-device-width: 500px)
{
    .tickerWindow {
        min-width: 70%;
        margin-bottom: 40px;
    }
    h6 {
        font-size: 30px;
        margin: 0;
    }
    button {
        border: none;
        height: 30px;
        width: 40px;
        font-size: 25px;
        background-color: lightgray;
    }
    .tickersQuant {
        font-size: 15px;
    }
    .tickersPrice {
        margin: 0;
    }
}
